# Xcode user-specific files
*.xcuserstate
xcuserdata/
**/xcuserdata/
build/

# Xcode workspace user settings
*.xcworkspace/xcuserdata/

# macOS
.DS_Store
**/.DS_Store

# Cloudflare Wrangler local state
.wrangler/
