<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconInk</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconInk</string>
				</array>
			</dict>
			<key>AppIconInkNote</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconInkNote</string>
				</array>
			</dict>
			<key>AppIconMoon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconMoon</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.langya.tally</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tally</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
